* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  background-color: #ffffff;
  width: 90%;
  max-width: 600px;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.search-wrapper {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.search-wrapper input {
  flex: 1;
  font-size: 1rem;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.search-wrapper input:focus {
  border-color: #007bff;
}

.search-wrapper button {
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-wrapper button:hover {
  background-color: #0056b3;
}

#result {
  margin-top: 1.5rem;
  line-height: 1.8;
}

.flag-img {
  display: block;
  width: 50%;
  margin: 0 auto 1rem;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

h3 {
  color: #d9534f;
  font-size: 1.2rem;
}

span {
  font-size: 1rem;
  color: #555;
}


footer {
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  color: #000000;
  padding: 10px;
}

footer a {
  color: #1da1f2;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}


@media (max-width: 768px) {
  .search-wrapper {
    flex-direction: column;
  }

  .search-wrapper button {
    width: 100%;
  }
}
